<!--The content below is only a placeholder and can be replaced.-->
<div class="content">
  <nav *ngIf="isLoggedIn()">
    <a routerLink="/posts">Posts</a>
    <a routerLink="/albums">Albums</a>
    <a routerLink="/todos">To Dos</a>
    <div class="floatRight">
      <span *ngIf="isLoggedIn() && userInfo"><a href="http://{{userInfo.website}}">{{userInfo.name}}</a>  {{'   ( '+ userInfo.company.name+' )'}}</span>
      <input type="button" value="Logout" (click)="logout()" >      
    </div>

  </nav>
  
  <router-outlet></router-outlet>
  
</div>


